/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
	overflow-x: hidden;
}

@font-face {
	font-family: 'Whitney';
	src: url(../fonts/Whitney-Book.otf);
	font-style: normal;
}

@font-face {
	font-family: 'WhitneySemi';
	src: url(../fonts/Whitney-Bold.ttf);
	font-style: normal;
}

@font-face {
	font-family: 'WhitneyBold';
	src: url(../fonts/Whitney-Bold.ttf);
	font-style: normal;
}

body {
	font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}


/*----------HEADER----------*/

/*-BALLOONGUY-*/
#home .balloon {
	display: flex;
	position: absolute;
	z-index: 998;
	left: 81%;
	overflow: hidden;
	white-space: wrap;
    width: 70px;
	height: 742%;
}

#home .balloon img {
	width: 70px;
	height: 100px;
	transform: translateY(5080%);
}

#home .balloonguy {
	animation: balloon 50s linear forwards;
	animation-delay: 5s;
}

@keyframes balloon {
	0% {
		transform: translateY(5080%);
	}
	100% {
		transform: translateY(-200%);
	}
}

#home header {
	position: relative;
	background: linear-gradient(#2A5EE8,#2A5EE8,#4E79F3,#4E79F3);
	padding: 3.9em 1.5em;
	margin: 0;
	height: 62em;
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
}

nav {
	position: absolute;
	min-width: 100%;
	padding: 0.23em 1.5em;
	z-index: 998;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}

nav ul li:first-of-type img {
	margin-top: 0.3em;
	height: 2.14em;
	width: 7.84em;
}

nav ul li button {
	background: none;
	border: none;
	padding: 0;
	outline: none;
}

#home h1 {
	font-family: 'WhitneyBold';
	color: white;
	font-size: 48px;
	line-height: 1.2em;
	margin: 0;
	margin-top: 1.9em;
}

#home header p {
	color: white;
	line-height: 1.62em;
	font-size: 20px;
	margin: 0;
	margin-top: 0.3em;
	padding: 0 0.03em;
}

#home header section {
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 1;
}

#home header section a {
	display: flex;
	color: black;
	background: white;
	border: none;
	border-radius: 28px;
	padding: 16px 32px;
	text-align: left;
	margin-top: 1.2em;
	font-size: 20px;
	outline: none;
	z-index: 999;
	text-decoration: none;
}

#home header section a img {
	width: 1.2em;
	margin-right: 0.5em;
}

#home header img:nth-of-type(2) {
	position: absolute;
	width: 18.3em;
	height: 13.3em;
	object-fit: cover;
	object-position: 0%;
	top: 49.7em;
	left: 13.2em;
	z-index: 1;
}

#home header img:nth-of-type(3) {
	position: absolute;
	width: 48.3em;
	top: 40em;
	left: -25em;
	z-index: 2;
}

.cloud {
	position: absolute;
	width: 112em;
	top: 26.5em;
	left: -57.7em;
}

/*----------MAIN----------*/

/*-MENU SLIDE-*/

.menu {
	position: fixed;
	background: white;
	top: 0;
	transform: translateX(150%);
	width: 88%;
	height: 100%;
	padding: 1.5em 3em 7.5em 1.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	z-index: 999;
	overflow: hidden;
}

.overflow {
	overflow: hidden;
}

.menuslide {
	animation: menuslide 0.5s linear;
	animation-fill-mode: forwards;
}

@keyframes menuslide {
	0% {
		transform: translateX(150%);
	}
	100% {
		transform: translateX(14%);
	}
}

.menuslideback {
	animation: menuslideback 0.5s linear;
	animation-fill-mode: forwards;
}

@keyframes menuslideback {
	0% {
		transform: translateX(2.8em);
	}
	100% {
		transform: translateX(25em);
	}
}

.darkbghide {
	display: none;
}

.darkbg {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	z-index: 999;
}

.menu ul:first-of-type li:first-of-type img {
	width: 7.8em;
}

.menu ul:first-of-type li:last-of-type img {
	width: 1.8em;
	position: absolute;
	top: 0;
}

.menu button {
	background: none;
	border: none;
	outline: none;
	padding: 0;
}

.menu ul:first-of-type {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	border: none;
	border-bottom: 1px solid #EBEDEF;
	padding-bottom: 1.55em;
}

.menu ul {
	list-style-type: none;
	padding: 0;
}

.menu ul:last-of-type a {
	text-decoration: none;
	color: inherit;
}

.menu ul:last-of-type li {
	padding: 0.7em 1em;
	margin: 0;
}

.menu ul:last-of-type li:nth-of-type(5) a {
	display: flex;
	align-items: center;
}

.menu ul:last-of-type li:nth-of-type(5) img {
	width: 1.5em;
	transform: rotate(270deg);
}

.menu ul:last-of-type li:last-of-type a {
	display: flex;
	background: #7388DA;
	color: white;
	border-radius: 28px;
	padding: 8px 22px;
	margin-top: 17.5em;
	font-size: 14px;
	width: 18em;
	align-items: center;
}

.menu ul:last-of-type li:last-of-type img {
	width: 1.5em;
	margin-right: 5px;
}

.active {
	background: #F6F6F6;
	border-radius: 8px;
	color: #00B0F4;
}

/*-MENU GENERAL-*/

#home main {
	min-height: 100%;
}

#home main section {
	margin: 0;
	color: #23272a;
	padding: 3em 1.5em 5em 1.5em;
	transition: 1s;
}

#home main section.sectionHidden {
	opacity: 0;	
}

#home main > img.sectionHidden {
	opacity: 0;
}

#home main section:nth-of-type(2),#home main section:nth-of-type(4),#home main section:last-of-type {
	background: #F6F6F6;
}

#home main section img {
	width: 20.45em;
}

#home h2 {
	margin: 0.8em 0.5em 0em 0em;
	font-family: 'WhitneyBold';
	line-height: 1.22em;
	font-size: 40px;
}

#home main section p {
	margin: 0;
	margin-top: 0.5em;
	font-size: 20px;
	line-height: 1.62em;
}

#home h3 {
	font-family: 'WhitneySemi';
	font-size: 32px;
	line-height: 1.22em;
	color: black;
}

#home main section:last-of-type {
	padding: 0 1.5em 5em 1.5em;
	margin: 0;
}

#home main section:last-of-type a {
	display: flex;
	background: #7388DA;
	color: white;
	border: none;
	border-radius: 28px;
	padding: 16px 32px;
	text-align: left;
	margin-top: 1.2em;
	font-size: 20px;
	z-index: 999;
	text-decoration: none;
}

#home main section:last-of-type a img {
	width: 1.2em;
	margin-right: 0.5em;
}

#home main > img {
	position: absolute;
	margin: 0;
	height: 2em;
	width: 100%;
	animation: waves 10s linear infinite both;
	transition: 1s;
}

@keyframes waves {
	0% {
		height: 2em;
	}
	100% {
		height: 2.5em;
	}
}

#home main > img:first-of-type {
	top: 103.3em;
}

#home main > img:nth-of-type(2) {
	bottom: -103.3em;
	transform: scaleY(-1);
}

#home main > img:nth-of-type(3) {
	top: 182em;
}

/*----------FOOTER PAGINA 1 + 2----------*/

footer {
	background: #23272A;
	padding: 6.85em 1.5em 3.9em 1.5em;
}

h4 {
	color: #7388DA;
	font-size: 32px;
	font-family: 'WhitneySemi';
	font-weight: 500;
	margin: 0;
	margin-bottom: 30px;
}

footer button {
	background: none;
	border: none;
	color: white;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin-bottom: 1.8em;
}

footer button img:first-of-type {
	position: relative;
	top: 0.2em;
	width: 1.7em;
	margin-right: 0.6em;
}

footer button img:nth-of-type(2) {
	position: relative;
	top: -0.2em;
	margin-left: 0.6em;
}

footer ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer li img {
	margin: 0;
	margin-right: 1.5em;
}

footer section {
	display: grid;
	color: white;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.3em;
	grid-row-gap: 2.4em;
	font-size: 16px;
	grid-column: ;
	margin: 3.8em 0 2em 0;
	padding: 0;
}

footer h5 {
	font-size: 16px;
	font-weight: 400;
	color: #7388DA;
	margin: 0.2em 0 0.64em 0;
}

footer p {
	font-size: 16px;
	color: white;
	margin: 0.87em 0;
}

footer a {
	text-decoration: none;
}

footer ul:last-of-type {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 2.14em 0 0 0;
	margin-top: 2.2em;
	border: none;
	border-top: 0.5px solid #7388DA;
}

footer ul:last-of-type li:last-of-type a {
	position: relative;
	top: 7px;
	text-decoration: none;
	color: white;
	padding: 11px 16px;
	background: #7388DA;
	border-radius: 25px;
	font-size: 14px;
}


/*================= Nitro pagina ===================*/

/*----------HEADER----------*/

#nitro header {
	position: relative;
	background: linear-gradient(90deg,#b473f5,#e292aa);
	padding: 3.9em 1.5em;
	height: 62em;
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
}

#nitro header ul,#nitro main > section > article:last-of-type ul,#nitro main > section:last-of-type ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nitro header ul li,#nitro main > section > article:last-of-type ul li,#nitro main > section:last-of-type ul li {
	margin-top: 2em;
	background: #23272A;
	border-radius: 35px;
	padding: 11px 10%;
	text-align: center;
	margin-top: 1.2em;
	display: inline-block
	width: 100%;
}

#nitro header a,#nitro main > section > article:last-of-type a,#nitro main > section:last-of-type a {	
	color: white;
	font-size: 20px;
	z-index: 999;
	text-decoration: none;
}

#nitro header ul li div,#nitro main > section > article:last-of-type ul li div,#nitro main > section:last-of-type ul li div {
	display: inline;
	background-color: #7289da;
	border-radius: 25px;
	font-size: 12px;
	padding: 7px 10px;
	margin-left: 10px;
}

#nitro header section img:first-of-type {
	position: absolute;
	width: 67%;
	left: 44%;
	top: 13.5%;
}

#nitro header section img:nth-of-type(2) {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width: 92%;
	margin: 9.4em 0 1.7em 0.6em;
}

#nitro header section {
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 33px;
}

#nitro > svg {
	position: absolute;
	bottom: -20.5em;
	height: 2em;
	width: 100%;
	animation: wave 10s linear infinite both;
	transition: 1s;
}

@keyframes wave {
	0% {
		height: 2em;
	}
	100% {
		height: 2.5em;
	}
}

/*----------MAIN----------*/

#nitro h1 {
	margin: 2em 0.5em 0em 0em;
	font-family: 'WhitneyBold';
	line-height: 1.22em;
	font-size: 40px;
	text-align: center;
}

#nitro main > section > p {
	font-size: 24px;
	text-align: center;
	margin: 0;
	margin-bottom: 56px;
}

#nitro main article {
	text-align: center;
	padding: 32px;
	margin: 0 24px 20px 24px;
	border-radius: 8px;
	color: white;
}

#nitro h2 {
	font-size: 24px;
	margin: 0;
}

#nitro main > section article p {
	font-size: 16px;
	line-height: 24px;
	margin-top: 12px;
}

#nitro main > section article:first-of-type {
	background: linear-gradient(142.53deg,#00a295,#26e8f4 98.75%),#3dcda7;
	transform: translateX(500px);
}

#nitro main > section article:nth-of-type(2) {
	background: linear-gradient(321.82deg,#21f2ff,#4181ff 59.22%,#4475ff 98.02%),#7196ff;
	transform: translateX(-500px);
}

#nitro main > section article:nth-of-type(3) {
	background: linear-gradient(138.46deg,#3e70ff 1.48%,#9a98ff 98.75%),#ff73fa;
	transform: translateX(500px);
}

#nitro main > section article:nth-of-type(4) {
	background: linear-gradient(141.85deg,#7e7bff,#ff73fa);
	transform: translateX(-500px);
}

#nitro main > section article:nth-of-type(5) {
	background: linear-gradient(141.48deg,#f837ee 1.35%,#ffcd4b);
	transform: translateX(500px);
}

#nitro main > section article:nth-of-type(6) {
	background: linear-gradient(321.73deg,#ffcd4b -1.09%,#ee6315 100.65%);
	transform: translateX(-500px);
}

#nitro main > section article:nth-of-type(5) img,#nitro main > section article:nth-of-type(6) img {
	width: 177px;
}

#nitro main {
	position: relative;
}

#nitro main > svg {
	position: absolute;
	bottom: 26em;
	height: 2em;
	width: 100%;
	animation: wave2 10s linear infinite both;
	transition: 1s;
}

@keyframes wave2 {
	0% {
		height: 2em;
	}
	100% {
		height: 2.5em;
	}
}

#nitro main > section article:last-of-type {
	padding: 20px 24px 70px 24px;
	margin: 0;
}

.doit {
	overflow: hidden;
	white-space: wrap;
}

#nitro h3 {
	color: black;
	font-size: 40px;
	margin: 0;
	margin-bottom: 50px;
	animation: doit 3.2s linear infinite;
	animation-fill-mode: forwards;
}

@keyframes doit {
	0%	{
		transform: translateX(0px);
	}
	100%	{
		transform: translateX(-321px);
	}
}

#nitro main > section:nth-of-type(2) {
	position: relative;
	background: #7388DA;
	padding: 24px;
	color: white;
	margin-bottom: 260px;
}

#nitro main > section:nth-of-type(2) img:first-of-type {
	width: 200px;
}

#nitro main > section:nth-of-type(2) p {
	text-align: left;
	font-size: 20px;
	padding: 24px 20px 0 0;
	line-height: 34px;
}

#nitro main > section:nth-of-type(2) video {
	position: absolute;
	top: 393px;
	left: 0;
	width: 102%;
}

.articlemoveright {
	animation: articleR 2s ease forwards;
}

@keyframes articleR {
	0% {
		transform: translateX(500px);
	}
	100% {
		transform: translateX(0);
	}
}

.articlemoveleft {
	animation: articleL 2s ease forwards;
}

@keyframes articleL {
	0% {
		transform: translateX(-500px);
	}
	100% {
		transform: translateX(0);
	}
}
